* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
}

a {
  text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  color: red;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 200px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 95%;
  }
}
